<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ddq.mapper.StockSnapMapper">
	<insert id="insertStockSnapByList" useGeneratedKeys="true" keyProperty="id">
		insert tb_stock_snap
		(timestamp,stockid,price)
		values
		<foreach separator="," collection="list" item="item" index="index">
			(#{item.timestamp},#{item.stockid},#{item.price})
		</foreach>
		<selectKey resultType="long" keyProperty="id">
			SELECT
			last_insert_id() as id
		</selectKey>
	</insert>
	
	<delete id="deleteStockSnapByTime" >
		delete from
		tb_stock_snap where DATE_FORMAT(`timestamp`,'%Y-%m-%d')=#{timestamp}
	</delete>

</mapper>